* 
{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
}


.HomeMain 
{
    height : 495px;
    display: flex;
    padding: 50px; 
    background: linear-gradient( to right, #fce4ec 0%,
    #fce4ec 45%, 
    #e9f6c9 55%, 
    #e9f6c9 100%
    );
}
.Box1
{
    width : 50%;
}

.Box2 
{
    width : 50%;
    display : flex;
    flex-direction : column;
    
}

.Box1 img 
{
    height: 400px;
    width: 716px;
    padding-left: 169px;
}


.lost 
{
    height: 82px;
    width: 268px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 100px;
}
.found {
    height: 82px;
    width: 268px;
    margin-bottom: 20px;
    margin-left: 100px;
}
.hpic {
    height: 200px;
    width: 400px;
    margin-left: 100px;
    margin-top: 30px;
}






