* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.ReportLost {
    background: linear-gradient( to right, #FCE4EC 0%,#E9F6C9 100% );
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 495px

}

.ReportLostForm 
{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
/*    border: 2px solid black;*/
    padding: 25px;
    height: 440px;
    width: 430px;
    margin: auto;
    border-radius : 15px;
    border:none;
}

.page-container {
    background: linear-gradient( to right, #fce4ec 0%, #fce4ec 45%, #e9f6c9 55%, #e9f6c9 100% );
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.form-group
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .form-group label 
    {
        flex-basis: 150px;
        font-weight: bold;
        color: #333;
        padding-right: 15px;
        white-space: nowrap;
    }

input[type="text"],
textarea 
{
    flex-grow: 1;
    padding: 2px 7px;
    border: none;
    background: linear-gradient(to bottom, #f7f7f7 0%, #e8e8e8 100%);
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 1em;
}

.description-group 
{
    align-items: flex-start;
}

textarea 
{
    resize: vertical;
}

.with-dropdown 
{
    padding-right: 35px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}

.date-input-container 
{
    flex-grow: 1;
    position: relative;
}

    .date-input-container input 
    {
        width: 100%;
        padding-right: 35px;
    }

    .date-input-container .date-icon 
    {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.1em;
        pointer-events: none;
        color: #666;
    }

.date-input-container::after 
{
    content: "mm/dd/yyyy";
    position: absolute;
    left: 12px;
    top: -15px;
    font-size: 0.7em;
    color: #777;
}


.photo-group 
{
    align-items: flex-end;
    margin-top: 30px;
}




.upload-container 
{
    flex-grow: 1;
    position: relative;
    padding: 5px 10px;
    background: linear-gradient(to bottom, #f7f7f7 0%, #e8e8e8 100%);
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    min-width: 100px;
    max-width: 100%;
    overflow: hidden;
}

.upload-text 
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    color: #555;
    font-size: 0.9em;
}

.upload-container:hover 
{
    border-color: #999;
}

.button-group 
{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 30px;
    margin-left: 100px;
}

.btn {
    padding: 1px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: normal;
    cursor: pointer;
    transition: background-color 0.2s;
    min-width: 80px;
}

.submit-btn {
    background-color: #4a4a4a;
    color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.reset-btn {
    background: linear-gradient(to bottom, #f2f2f2 0%, #e0e0e0 100%);
    color: #555;
    border-color: #b0b0b0;
}
