@page
@model Lost_and_Found.Views.Home1.HomeIndexModel
@{
    Layout = null;
}

<link href="~/css/Home.css" rel="stylesheet" />
<partial name="~/Views/Navbar/NavbarIndex.cshtml" />


<div class="HomeMain" style="height:495px;">
    <div class="Box1">
        <img src="~/Pic/Group 64.png"/>
    </div>
    <div class="Box2">
        <img src="~/Pic/Group 2.png" class="lost"/>
        <img src="~/Pic/Group 3.png" class="found" />
        <img src="~/Pic/Group 6.png" class="hpic"/>
    </div>
</div>

<partial name="~/Views/Footer/FooterIndex.cshtml" />


